/* Start Modal Styles */
.ant-modal .ant-modal-content {
  @apply bg-c-blue text-white;
}
.ant-modal.modal-confirm {
  width: 430px !important;
}
.ant-modal .ant-modal-close {
  @apply text-white;
}
/* End Modal Styles */

/* Start Input Styles */
.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  color: rgb(0 0 0 / 50%);
}
.ant-input-search.ant-input-search-with-button .ant-input-search-button {
  @apply text-c-black;
  background-color: #ebebeb;
}
/* End Input Styles */

/* Start Button Styles */
.ant-btn::before {
  display: block;
}
/* End Button Styles */


.ant-upload-list-item-name {
  @apply truncate !important;
  max-width: 200px;
}